* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.dashboard {
  display: grid;
  grid-template-columns: 290px 1fr;
  min-height: 100vh;
}

.left-menu {
  background-color: white;
  border-right: 1px solid #d9d9d9;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 10% 10% 1fr auto;
}

.logo {
  display: flex;
  align-items: center;
  gap: 14px;
  padding: 30px 28px;
  border-bottom: 1px solid #d9d9d9;
}

.logo h2 {
  font-size: 18px;
  font-weight: 600;
  color: #0f172a;
}

.logo-icon {
  width: 40px;
  height: 40px;
  background: linear-gradient(135deg, #20c997, #1abc9c);
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 8px 18px rgba(32, 201, 151, 0.25);
}

.dashboard-audio-logo {
  width: 24px;
  height: 24px;
  color: white;
}

.profile {
  display: flex;
  align-items: center;
  gap: 14px;
  padding: 26px 28px;
  border-bottom: 1px solid #d9d9d9;
}

.profile-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: linear-gradient(135deg, #20c997, #1abc9c);
  color: white;
  font-size: 20px;
  font-weight: 550;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile p {
  font-size: 18px;
  font-weight: 500;
  color: #111827;
}

.menu {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.menu > p {
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #667085;
  margin: 0 0 8px 16px;
}

.menu-link {
  height: 48px;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 14px;
  font-size: 16px;
  font-weight: 600;
  color: #667085;
  text-decoration: none;
  transition: 0.2s ease;
  position:relative;
  padding-right: 30px;  
}

.menu-link:hover {
  background-color: #edf7f3;
  color: #0f172a;
}

.menu-link.active {
  background: linear-gradient(135deg, #20c997, #1abc9c);
  color: white;
  box-shadow: 0 6px 14px rgba(32, 201, 151, 0.25);
}

.menu-link.active::after{
  content: ">";
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  font-weight: 500;
  color: white;
}

.Logout {
  border-top: 1px solid #d9d9d9;
  padding: 22px 32px;
  font-size: 16px;
  font-weight: 600;
  color: #667085;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
}

.logout-icon {
  height: 22px;
  width: 22px;
}

.Logout span {
  display: inline;
}

.Logout:hover {
  color: red;
}

.page-dashboard {
  background-color: #f8f8f8;
  background-image: radial-gradient(#d1d5db 1px, transparent 1px);
  background-size: 20px 20px;
}